<h1><%= t 'users.new.title' %></h1>
<%= render 'form' %>

<footer>
	<div id="footer-main">
		<strong>
		<%= link_to t('links.show'), @user %> :: <%= link_to t('links.back'), @user %>
		</strong>
	</div>
</footer>