<h1><%= t 'rooms.edit.title'%></h1>
<%= render 'form', room: @room %>

<footer>
	<div id="footer-main">
		<strong>
		<%= link_to t('links.show'), @room %> :: <%= link_to t('links.back'), @room %>
		</strong>
	</div>
</footer>

